  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/01.jpg')" alt="01.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/01.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/02.jpg')" alt="02.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/02.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/03.jpg')" alt="03.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/03.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/04.jpg')" alt="04.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/04.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/05.jpg')" alt="05.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/05.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/06.jpg')" alt="06.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/06.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/07.jpg')" alt="07.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/07.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/08.jpg')" alt="08.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/08.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/09.jpg')" alt="09.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/09.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/10.jpg')" alt="10.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/10.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/100.jpg')" alt="100.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/100.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/101.jpg')" alt="101.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/101.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/102.jpg')" alt="102.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/102.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/103.jpg')" alt="103.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/103.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/104.jpg')" alt="104.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/104.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/105.jpg')" alt="105.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/105.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/106.jpg')" alt="106.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/106.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/107.jpg')" alt="107.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/107.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/108.jpg')" alt="108.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/108.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/109.jpg')" alt="109.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/109.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/11.jpg')" alt="11.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/11.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/110.jpg')" alt="110.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/110.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/111.jpg')" alt="111.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/111.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/112.jpg')" alt="112.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/112.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/113.jpg')" alt="113.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/113.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/114.jpg')" alt="114.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/114.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/115.jpg')" alt="115.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/115.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/116.jpg')" alt="116.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/116.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/117.jpg')" alt="117.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/117.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/118.jpg')" alt="118.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/118.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/119.jpg')" alt="119.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/119.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/12.jpg')" alt="12.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/12.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/120.jpg')" alt="120.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/120.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/121.jpg')" alt="121.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/121.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/122.jpg')" alt="122.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/122.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/123.jpg')" alt="123.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/123.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/124.jpg')" alt="124.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/124.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/125.jpg')" alt="125.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/125.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/126.jpg')" alt="126.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/126.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/127.jpg')" alt="127.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/127.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/128.jpg')" alt="128.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/128.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/129.jpg')" alt="129.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/129.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/13.jpg')" alt="13.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/13.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/130.jpg')" alt="130.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/130.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/131.jpg')" alt="131.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/131.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/132.jpg')" alt="132.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/132.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/133.jpg')" alt="133.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/133.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/134.jpg')" alt="134.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/134.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/135.jpg')" alt="135.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/135.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/136.jpg')" alt="136.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/136.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/137.jpg')" alt="137.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/137.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/138.jpg')" alt="138.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/138.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/139.jpg')" alt="139.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/139.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/14.jpg')" alt="14.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/14.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/140.jpg')" alt="140.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/140.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/141.jpg')" alt="141.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/141.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/142.jpg')" alt="142.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/142.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/143.jpg')" alt="143.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/143.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/144.jpg')" alt="144.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/144.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/145.jpg')" alt="145.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/145.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/146.jpg')" alt="146.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/146.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/147.jpg')" alt="147.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/147.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/148.jpg')" alt="148.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/148.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/149.jpg')" alt="149.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/149.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/15.jpg')" alt="15.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/15.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/150.jpg')" alt="150.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/150.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/151.jpg')" alt="151.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/151.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/152.jpg')" alt="152.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/152.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/153.jpg')" alt="153.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/153.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/154.jpg')" alt="154.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/154.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/155.jpg')" alt="155.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/155.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/156.jpg')" alt="156.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/156.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/157.jpg')" alt="157.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/157.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/158.jpg')" alt="158.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/158.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/159.jpg')" alt="159.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/159.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/16.jpg')" alt="16.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/16.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/160.jpg')" alt="160.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/160.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/161.jpg')" alt="161.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/161.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/162.jpg')" alt="162.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/162.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/163.jpg')" alt="163.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/163.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/164.jpg')" alt="164.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/164.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/165.jpg')" alt="165.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/165.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/166.jpg')" alt="166.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/166.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/167.jpg')" alt="167.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/167.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/168.jpg')" alt="168.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/168.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/169.jpg')" alt="169.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/169.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/17.jpg')" alt="17.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/17.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/170.jpg')" alt="170.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/170.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/171.jpg')" alt="171.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/171.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/172.jpg')" alt="172.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/172.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/173.jpg')" alt="173.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/173.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/174.jpg')" alt="174.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/174.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/175.jpg')" alt="175.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/175.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/176.jpg')" alt="176.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/176.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/177.jpg')" alt="177.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/177.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/178.jpg')" alt="178.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/178.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/179.jpg')" alt="179.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/179.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/18.jpg')" alt="18.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/18.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/180.jpg')" alt="180.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/180.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/181.jpg')" alt="181.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/181.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/182.jpg')" alt="182.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/182.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/183.jpg')" alt="183.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/183.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/184.jpg')" alt="184.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/184.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/185.jpg')" alt="185.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/185.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/186.jpg')" alt="186.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/186.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/187.jpg')" alt="187.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/187.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/188.jpg')" alt="188.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/188.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/189.jpg')" alt="189.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/189.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/19.jpg')" alt="19.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/19.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/190.jpg')" alt="190.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/190.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/191.jpg')" alt="191.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/191.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/192.jpg')" alt="192.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/192.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/193.jpg')" alt="193.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/193.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/194.jpg')" alt="194.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/194.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/195.jpg')" alt="195.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/195.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/196.jpg')" alt="196.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/196.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/197.jpg')" alt="197.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/197.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/198.jpg')" alt="198.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/198.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/199.jpg')" alt="199.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/199.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/20.jpg')" alt="20.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/20.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/200.jpg')" alt="200.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/200.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/201.jpg')" alt="201.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/201.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/202.jpg')" alt="202.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/202.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/203.jpg')" alt="203.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/203.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/204.jpg')" alt="204.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/204.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/205.jpg')" alt="205.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/205.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/206.jpg')" alt="206.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/206.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/207.jpg')" alt="207.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/207.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/208.jpg')" alt="208.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/208.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/209.jpg')" alt="209.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/209.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/21.jpg')" alt="21.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/21.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/210.jpg')" alt="210.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/210.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/211.jpg')" alt="211.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/211.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/212.jpg')" alt="212.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/212.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/213.jpg')" alt="213.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/213.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/214.jpg')" alt="214.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/214.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/215.jpg')" alt="215.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/215.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/216.jpg')" alt="216.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/216.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/217.jpg')" alt="217.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/217.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/218.jpg')" alt="218.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/218.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/219.jpg')" alt="219.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/219.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/22.jpg')" alt="22.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/22.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/220.jpg')" alt="220.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/220.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/221.jpg')" alt="221.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/221.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/222.jpg')" alt="222.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/222.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/223.jpg')" alt="223.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/223.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/224.jpg')" alt="224.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/224.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/23.jpg')" alt="23.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/23.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/24.jpg')" alt="24.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/24.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/25.jpg')" alt="25.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/25.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/26.jpg')" alt="26.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/26.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/27.jpg')" alt="27.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/27.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/28.jpg')" alt="28.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/28.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/29.jpg')" alt="29.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/29.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/30.jpg')" alt="30.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/30.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/31.jpg')" alt="31.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/31.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/32.jpg')" alt="32.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/32.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/33.jpg')" alt="33.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/33.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/34.jpg')" alt="34.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/34.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/35.jpg')" alt="35.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/35.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/36.jpg')" alt="36.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/36.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/37.jpg')" alt="37.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/37.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/38.jpg')" alt="38.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/38.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/39.jpg')" alt="39.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/39.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/40.jpg')" alt="40.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/40.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/41.jpg')" alt="41.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/41.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/42.jpg')" alt="42.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/42.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/43.jpg')" alt="43.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/43.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/44.jpg')" alt="44.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/44.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/45.jpg')" alt="45.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/45.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/46.jpg')" alt="46.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/46.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/47.jpg')" alt="47.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/47.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/48.jpg')" alt="48.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/48.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/49.jpg')" alt="49.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/49.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/50.jpg')" alt="50.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/50.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/51.jpg')" alt="51.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/51.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/52.jpg')" alt="52.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/52.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/53.jpg')" alt="53.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/53.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/54.jpg')" alt="54.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/54.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/55.jpg')" alt="55.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/55.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/56.jpg')" alt="56.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/56.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/57.jpg')" alt="57.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/57.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/58.jpg')" alt="58.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/58.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/59.jpg')" alt="59.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/59.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/60.jpg')" alt="60.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/60.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/61.jpg')" alt="61.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/61.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/62.jpg')" alt="62.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/62.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/63.jpg')" alt="63.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/63.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/64.jpg')" alt="64.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/64.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/65.jpg')" alt="65.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/65.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/66.jpg')" alt="66.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/66.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/67.jpg')" alt="67.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/67.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/68.jpg')" alt="68.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/68.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/69.jpg')" alt="69.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/69.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/70.jpg')" alt="70.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/70.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/71.jpg')" alt="71.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/71.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/72.jpg')" alt="72.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/72.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/73.jpg')" alt="73.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/73.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/74.jpg')" alt="74.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/74.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/75.jpg')" alt="75.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/75.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/76.jpg')" alt="76.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/76.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/77.jpg')" alt="77.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/77.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/78.jpg')" alt="78.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/78.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/79.jpg')" alt="79.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/79.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/80.jpg')" alt="80.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/80.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/81.jpg')" alt="81.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/81.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/82.jpg')" alt="82.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/82.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/83.jpg')" alt="83.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/83.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/84.jpg')" alt="84.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/84.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/85.jpg')" alt="85.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/85.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/86.jpg')" alt="86.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/86.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/87.jpg')" alt="87.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/87.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/88.jpg')" alt="88.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/88.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/89.jpg')" alt="89.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/89.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/90.jpg')" alt="90.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/90.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/91.jpg')" alt="91.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/91.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/92.jpg')" alt="92.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/92.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/93.jpg')" alt="93.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/93.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/94.jpg')" alt="94.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/94.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/95.jpg')" alt="95.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/95.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/96.jpg')" alt="96.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/96.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/97.jpg')" alt="97.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/97.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/98.jpg')" alt="98.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/98.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/99.jpg')" alt="99.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/99.jpg"></div>
  </div>
