  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/001.jpg')" alt="001.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/001.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/002.jpg')" alt="002.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/002.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/003.jpg')" alt="003.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/003.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/004.jpg')" alt="004.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/004.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/005.jpg')" alt="005.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/005.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/006.jpg')" alt="006.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/006.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/007.jpg')" alt="007.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/007.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/008.jpg')" alt="008.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/008.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/009.jpg')" alt="009.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/009.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/010.jpg')" alt="010.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/010.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/011.jpg')" alt="011.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/011.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/012.jpg')" alt="012.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/012.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/013.jpg')" alt="013.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/013.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/014.jpg')" alt="014.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/014.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/015.jpg')" alt="015.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/015.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/016.jpg')" alt="016.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/016.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/017.jpg')" alt="017.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/017.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/018.jpg')" alt="018.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/018.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/019.jpg')" alt="019.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/019.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/020.jpg')" alt="020.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/020.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/021.jpg')" alt="021.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/021.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/022.jpg')" alt="022.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/022.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/023.jpg')" alt="023.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/023.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/024.jpg')" alt="024.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/024.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/025.jpg')" alt="025.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/025.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/026.jpg')" alt="026.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/026.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/027.jpg')" alt="027.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/027.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/028.jpg')" alt="028.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/028.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/029.jpg')" alt="029.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/029.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/030.jpg')" alt="030.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/030.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/031.jpg')" alt="031.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/031.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/032.jpg')" alt="032.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/032.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/033.jpg')" alt="033.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/033.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/034.jpg')" alt="034.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/034.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/035.jpg')" alt="035.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/035.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/036.jpg')" alt="036.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/036.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/037.jpg')" alt="037.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/037.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/038.jpg')" alt="038.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/038.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/039.jpg')" alt="039.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/039.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/040.jpg')" alt="040.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/040.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/041.jpg')" alt="041.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/041.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/042.jpg')" alt="042.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/042.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/043.jpg')" alt="043.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/043.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/044.jpg')" alt="044.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/044.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/045.jpg')" alt="045.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/045.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/046.jpg')" alt="046.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/046.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/047.jpg')" alt="047.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/047.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/048.jpg')" alt="048.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/048.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/049.jpg')" alt="049.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/049.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/050.jpg')" alt="050.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/050.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/051.jpg')" alt="051.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/051.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/052.jpg')" alt="052.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/052.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/053.jpg')" alt="053.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/053.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/054.jpg')" alt="054.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/054.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/055.jpg')" alt="055.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/055.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/056.jpg')" alt="056.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/056.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/057.jpg')" alt="057.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/057.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/058.jpg')" alt="058.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/058.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/059.jpg')" alt="059.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/059.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/060.jpg')" alt="060.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/060.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/061.jpg')" alt="061.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/061.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/062.jpg')" alt="062.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/062.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/063.jpg')" alt="063.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/063.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/064.jpg')" alt="064.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/064.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/065.jpg')" alt="065.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/065.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/066.jpg')" alt="066.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/066.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/067.jpg')" alt="067.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/067.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/068.jpg')" alt="068.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/068.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/069.jpg')" alt="069.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/069.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/070.jpg')" alt="070.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/070.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/071.jpg')" alt="071.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/071.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/072.jpg')" alt="072.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/072.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/073.jpg')" alt="073.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/073.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/074.jpg')" alt="074.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/074.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/075.jpg')" alt="075.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/075.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/076.jpg')" alt="076.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/076.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/077.jpg')" alt="077.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/077.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/078.jpg')" alt="078.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/078.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/079.jpg')" alt="079.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/079.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/080.jpg')" alt="080.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/080.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/081.jpg')" alt="081.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/081.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/082.jpg')" alt="082.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/082.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/083.jpg')" alt="083.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/083.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/084.jpg')" alt="084.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/084.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/085.jpg')" alt="085.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/085.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/086.jpg')" alt="086.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/086.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/087.jpg')" alt="087.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/087.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/088.jpg')" alt="088.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/088.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/089.jpg')" alt="089.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/089.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/090.jpg')" alt="090.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/090.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/091.jpg')" alt="091.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/091.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/092.jpg')" alt="092.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/092.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/093.jpg')" alt="093.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/093.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/094.jpg')" alt="094.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/094.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/095.jpg')" alt="095.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/095.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/096.jpg')" alt="096.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/096.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/097.jpg')" alt="097.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/097.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/098.jpg')" alt="098.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/098.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/099.jpg')" alt="099.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/099.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/100.jpg')" alt="100.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/100.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/101.jpg')" alt="101.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/101.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/102.jpg')" alt="102.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/102.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/103.jpg')" alt="103.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/103.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/104.jpg')" alt="104.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/104.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/105.jpg')" alt="105.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/105.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/106.jpg')" alt="106.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/106.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/107.jpg')" alt="107.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/107.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/108.jpg')" alt="108.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/108.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/109.jpg')" alt="109.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/109.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/110.jpg')" alt="110.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/110.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/111.jpg')" alt="111.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/111.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/112.jpg')" alt="112.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/112.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/113.jpg')" alt="113.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/113.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/114.jpg')" alt="114.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/114.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/115.jpg')" alt="115.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/115.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/116.jpg')" alt="116.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/116.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/117.jpg')" alt="117.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/117.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/118.jpg')" alt="118.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/118.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/119.jpg')" alt="119.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/119.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/120.jpg')" alt="120.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/120.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/121.jpg')" alt="121.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/121.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/122.jpg')" alt="122.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/122.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/123.jpg')" alt="123.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/123.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/124.jpg')" alt="124.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/124.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/125.jpg')" alt="125.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/125.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/126.jpg')" alt="126.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/126.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/127.jpg')" alt="127.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/127.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/128.jpg')" alt="128.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/128.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/129.jpg')" alt="129.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/129.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/130.jpg')" alt="130.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/130.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/131.jpg')" alt="131.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/131.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/132.jpg')" alt="132.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/132.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/133.jpg')" alt="133.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/133.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/134.jpg')" alt="134.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/134.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/135.jpg')" alt="135.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/135.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/136.jpg')" alt="136.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/136.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/137.jpg')" alt="137.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/137.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/138.jpg')" alt="138.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/138.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/139.jpg')" alt="139.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/139.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/140.jpg')" alt="140.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/140.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/141.jpg')" alt="141.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/141.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/142.jpg')" alt="142.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/142.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/143.jpg')" alt="143.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/143.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/144.jpg')" alt="144.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/144.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/145.jpg')" alt="145.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/145.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/146.jpg')" alt="146.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/146.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/147.jpg')" alt="147.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/147.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/148.jpg')" alt="148.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/148.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/149.jpg')" alt="149.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/149.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/150.jpg')" alt="150.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/150.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/151.jpg')" alt="151.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/151.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/152.jpg')" alt="152.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/152.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/153.jpg')" alt="153.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/153.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/154.jpg')" alt="154.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/154.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/155.jpg')" alt="155.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/155.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/156.jpg')" alt="156.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/156.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/157.jpg')" alt="157.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/157.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/158.jpg')" alt="158.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/158.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/159.jpg')" alt="159.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/159.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/160.jpg')" alt="160.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/160.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/161.jpg')" alt="161.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/161.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/162.jpg')" alt="162.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/162.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/163.jpg')" alt="163.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/163.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/164.jpg')" alt="164.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/164.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/165.jpg')" alt="165.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/165.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/166.jpg')" alt="166.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/166.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/167.jpg')" alt="167.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/167.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/168.jpg')" alt="168.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/168.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/169.jpg')" alt="169.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/169.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/170.jpg')" alt="170.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/170.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/171.jpg')" alt="171.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/171.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/172.jpg')" alt="172.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/172.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/173.jpg')" alt="173.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/173.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/174.jpg')" alt="174.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/174.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/175.jpg')" alt="175.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/175.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/176.jpg')" alt="176.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/176.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/177.jpg')" alt="177.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/177.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/178.jpg')" alt="178.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/178.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/179.jpg')" alt="179.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/179.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/180.jpg')" alt="180.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/180.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/181.jpg')" alt="181.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/181.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/182.jpg')" alt="182.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/182.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/183.jpg')" alt="183.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/183.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/184.jpg')" alt="184.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/184.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/185.jpg')" alt="185.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/185.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/186.jpg')" alt="186.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/186.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/187.jpg')" alt="187.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/187.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/188.jpg')" alt="188.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/188.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/189.jpg')" alt="189.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/189.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/190.jpg')" alt="190.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/190.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/191.jpg')" alt="191.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/191.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/192.jpg')" alt="192.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/192.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/193.jpg')" alt="193.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/193.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/194.jpg')" alt="194.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/194.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/195.jpg')" alt="195.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/195.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/196.jpg')" alt="196.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/196.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/197.jpg')" alt="197.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/197.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/198.jpg')" alt="198.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/198.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/199.jpg')" alt="199.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/199.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/200.jpg')" alt="200.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/200.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/201.jpg')" alt="201.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/201.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/202.jpg')" alt="202.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/202.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/203.jpg')" alt="203.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/203.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/204.jpg')" alt="204.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/204.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/205.jpg')" alt="205.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/205.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/206.jpg')" alt="206.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/206.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/207.jpg')" alt="207.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/207.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/208.jpg')" alt="208.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/208.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/209.jpg')" alt="209.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/209.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/210.jpg')" alt="210.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/210.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/211.jpg')" alt="211.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/211.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/212.jpg')" alt="212.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/212.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/213.jpg')" alt="213.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/213.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/214.jpg')" alt="214.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/214.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/215.jpg')" alt="215.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/215.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/216.jpg')" alt="216.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/216.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/217.jpg')" alt="217.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/217.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/218.jpg')" alt="218.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/218.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/219.jpg')" alt="219.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/219.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/220.jpg')" alt="220.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/220.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/221.jpg')" alt="221.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/221.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/222.jpg')" alt="222.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/222.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/223.jpg')" alt="223.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/223.jpg"></div>
  </div>
  <div class="gallery-item">
    <div style="background-image: url('{{ site.baseurl }}/assets/images/cancer/chemo-pills/224.jpg')" alt="224.jpg" data-image-url="{{ site.baseurl }}/assets/images/cancer/chemo-pills/224.jpg"></div>
  </div>
