  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/01_back.jpg" alt="01_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/01_front.jpg" alt="01_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/02_back.jpg" alt="02_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/02_front.jpg" alt="02_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/03_back.jpg" alt="03_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/03_front.jpg" alt="03_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/05_back.jpg" alt="05_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/06_back.jpg" alt="06_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/06_front.jpg" alt="06_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/07_back.jpg" alt="07_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/07_front.jpg" alt="07_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/11_back.jpg" alt="11_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/11_front.jpg" alt="11_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/14_back.jpg" alt="14_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/14_front.jpg" alt="14_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/15_back.jpg" alt="15_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/15_front.jpg" alt="15_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/16_back.jpg" alt="16_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/16_front.jpg" alt="16_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/17_back.jpg" alt="17_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/17_front.jpg" alt="17_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/18_back.jpg" alt="18_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/18_front.jpg" alt="18_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/19_back.jpg" alt="19_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/19_front.jpg" alt="19_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/20_back.jpg" alt="20_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/20_front.jpg" alt="20_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/22_back.jpg" alt="22_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/22_front.jpg" alt="22_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/23_back.jpg" alt="23_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/23_front.jpg" alt="23_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/25_back.jpg" alt="25_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/25_front.jpg" alt="25_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/28_back.jpg" alt="28_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/28_front.jpg" alt="28_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/29_back.jpg" alt="29_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/30_back.jpg" alt="30_back.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/30_front.jpg" alt="30_front.jpg">
  </div>
  <div class="gallery-item">
    <img src="{{ site.baseurl }}/assets/images/igotup/WhatsApp Image 2025-09-15 at 20.47.13_97c9ea32.jpg" alt="WhatsApp Image 2025-09-15 at 20.47.13_97c9ea32.jpg">
  </div>
