<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Link to the custom CSS file -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <!-- Custom CSS for specific pages -->
    {% if page.custom_css %}
        {% if page.custom_css.first %}
        <!-- Single CSS file -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.custom_css }}">
        {% endif %}
    {% endif %}
</head>
<body>
    <header>
        <div class="nav-container">
            <a href="{{ site.baseurl }}/" class="logo">{{ site.title }}</a>
            <nav>
                <ul class="nav-menu">
                    <li><a href="{{ site.baseurl }}/pages/newsletter">newsletter</a></li>
                    <li><a href="{{ site.baseurl }}/pages/projects">projects</a></li>
                    <li><a href="{{ site.baseurl }}/pages/about">about me</a></li>
                </ul>
                <div class="hamburger" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        {{ content }}
    </main>
    
    <footer>
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
    
    <!-- Modal to display larger image -->
    <!-- <div id="modal" class="modal">
        <span class="arrow left-arrow">&#10094;</span>
        <img id="modal-image" src="" alt="">
        <span class="arrow right-arrow">&#10095;</span>
    </div>
 -->
    <!--script src="{{ site.baseurl }}/assets/js/gallery-lightbox.js"></script>
</body>
</html>
